<launch>
  <arg name="robot_name"              default="sobek" />
  <arg name="dataset_name"            default="Euroc" />
  <arg name="verbosity"               default="0" />
  <arg name="robot_id"                default="0" />
  <arg name="num_robots"              default="1" />
  <arg name="should_use_sim_time"     default="false"/>
  <arg name="debug"                   default="false"/>
  <arg name="robot_names_config"      default="robot_names"/>
  <arg name="vocab_path"              default="$(find kimera_core)/vocab/jackal_voc.yml"/>
  <!-- <arg name="vocab_path"              default="$(find kimera_vio)/vocabulary/ORBvoc.yml"/> -->

  <!-- Set log_output to true and SparkVio will log output of all modules to
       the log_output_path location. -->
  <arg name="log_output" default="true" />
  <arg name="log_output_path" default="$(find kimera_distributed)/logs/kimera$(arg robot_id)/" />

  <!-- Launch robot in its unique namespace -->
  <group ns="$(arg robot_name)">
    <!-- Launch distributed loop closure detection and PCM -->
    <include file="$(find kimera_distributed)/launch/kimera_distributed_loop_closure_ros.launch">
      <arg name="robot_id"                  value="$(arg robot_id)" />
      <arg name="robot_name"                value="$(arg robot_name)" />
      <arg name="frame_id"                  value="$(arg robot_name)/map"/>
      <arg name="num_robots"                value="$(arg num_robots)" />
      <arg name="dataset_name"              value="$(arg dataset_name)" />
      <arg name="debug"                     value="$(arg debug)" />
      <arg name="run_offline"               value="false" />
      <arg name="vlc_batch_size"            value="10" />
      <arg name="vlc_sleep_time"            value="5"  />
      <arg name="max_submap_size"           value="100" />
      <arg name="max_submap_distance"       value="0.5" />
      <arg name="robot_names_config"        value="$(arg robot_names_config)"/>
      <arg name="vocab_path"                value="$(arg vocab_path)"/>
    </include>

  </group>

</launch>
