<launch>
  <arg name="robot_name"              default="sobek" />
  <arg name="dataset_name"            default="Euroc" />
  <arg name="verbosity"               default="0" />
  <arg name="robot_id"                default="0" />
  <arg name="num_robots"              default="1" />
  <arg name="should_use_sim_time"     default="false"/>
  <arg name="debug"                   default="false"/>

  <!-- True if multiple ROS masters are running. This turns on reliable UDP. -->
  <arg name="multi_master" default="false" />

  <!-- Set log_output to true and SparkVio will log output of all modules to
       the log_output_path location. -->
  <arg name="log_output" default="true" />
  <arg name="log_output_path" default="$(find kimera_distributed)/logs/kimera$(arg robot_id)/" />

  <!-- Launch robot in its unique namespace -->
  <group ns="$(arg robot_name)">
    <!-- Launch Kimera-Distributed -->
    <include file="$(find kimera_distributed)/launch/kimera_distributed_loop_closure_ros.launch">
      <arg name="robot_id"                  value="$(arg robot_id)" />
      <arg name="num_robots"                value="$(arg num_robots)" />
      <arg name="dataset_name"              value="$(arg dataset_name)" />
      <arg name="multirobot_initialization" value="false" />
      <arg name="debug"                     value="$(arg debug)" />
    </include>

    <!-- Launch dpgo_ros -->
    <include file="$(find dpgo_ros)/launch/PGOAgent.launch">
      <arg name="agent_id"                         value="$(arg robot_id)" />
      <arg name="num_robots"                       value="$(arg num_robots)" />
      <arg name="relative_change_tolerance"        value="5e-3" />
      <arg name="multirobot_initialization"        value="true"/>
      <arg name="acceleration"                     value="false" />
      <arg name="robust_cost_type"                 value="GNC_TLS" />
      <arg name="GNC_use_probability"              value="true" />
      <arg name="GNC_quantile"                     value="0.9" />
      <arg name="GNC_barc"                         value="5.0" />
      <arg name="GNC_mu_step"                      value="2.0" />
      <arg name="GNC_init_mu"                      value="1e-5" />
      <arg name="robust_opt_warm_start"            value="true" />
      <arg name="robust_opt_min_convergence_ratio" value="0.95" />
      <arg name="robust_opt_inner_iters"           value="25" />
      <arg name="max_iteration_number"             value="500" />
      <arg name="log_directory"                    value="$(find kimera_distributed)/logs/kimera$(arg robot_id)/" />
    </include> 

    <!-- Launch remote topic manager (reliable UDP) -->
    <include if="$(arg multi_master)" file="$(find kimera_distributed)/launch/remote_topic_manager.launch">
      <arg name="robot_id" value="$(arg robot_id)" />
    </include>

  </group>

</launch>
