<launch>
  <arg name="dataset_name" default="Euroc"/>
  <arg name="num_robots" default="3"/>
  <arg name="log_gt_data" default="true"/>
  <arg name="mesh_reconstruction" default="false" />
  <arg name="semantic_mesh" default="false" />
  <arg name="environment" default="camp" />
  <arg name="robot_id" default="0" />

  <!-- Set use_sim_time to true if you use rosbag with clock argument -->
  <!-- Yulun: safe to use system wall-clock time for multi-robot experiment? -->
  <param name="use_sim_time" value="false"/>

  <!-- DPGO params -->
  <param name="/num_robots" type="int" value="$(arg num_robots)" />
  <param name="/dimension" type="int" value="3" />
  <param name="/relaxation_rank" type="int" value="5" />
  <rosparam file="$(find kimera_distributed)/params/dpgo_$(arg dataset_name).yaml"/>

  <include file="$(find kimera_distributed)/launch/kimera_full_stack.launch" pass_all_args="true">
      <arg name="robot_id" value="$(arg robot_id)" />
  </include>

  <!-- DPGO visualization in rviz -->
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find kimera_distributed)/rviz/kimera_three_robot_$(arg dataset_name).rviz"></node>

</launch>