<launch>
  <arg name="dataset_name" default="Euroc" />
  <arg name="verbosity" default="0" />
  <arg name="num_robots" default="3" />
  <arg name="mesh_reconstruction" default="false" />
  
  <group ns="kimera0">
    <arg name="robot_id" value="0" />
    <arg name="use_lcd" value="true" />
    <arg name="visualize" value="true" />
    <arg name="use_online_cam_params" value="false" />
    <arg name="online" value="true" />
    <!-- Frame IDs -->
    <arg name="base_link_frame_id" value="kimera$(arg robot_id)_base_link"/>
    <arg name="left_cam_frame_id"  value="kimera$(arg robot_id)_left_cam"/>
    <arg name="right_cam_frame_id" value="kimera$(arg robot_id)_right_cam"/>
    <!-- Subscribed Topics -->
    <arg name="left_cam_topic"        value="/kimera$(arg robot_id)/cam0/image_raw"/>
    <arg name="right_cam_topic"       value="/kimera$(arg robot_id)/cam1/image_raw"/>
    <arg name="imu_topic"             value="/kimera$(arg robot_id)/imu0"/>
    <arg name="gt_topic"              value="/ground_truth/kimera$(arg robot_id)/pose" />

    <arg name="run_stereo_dense"     value="true" if="$(eval dataset_name == 'Euroc' and mesh_reconstruction)"/>
    <arg name="run_stereo_dense"     value="false" unless="$(eval dataset_name == 'Euroc' and mesh_reconstruction)"/>

    <!-- Launch Kimera-VIO -->
    <include file="$(find kimera_distributed)/launch/kimera_vio_ros.launch" pass_all_args="true" />

    <!-- Launch Kimera-Distributed -->
    <include file="$(find kimera_distributed)/launch/kimera_distributed_loop_closure_ros.launch" pass_all_args="true" />

  </group>

  <group ns="kimera1">
    <arg name="robot_id" value="1" />
    <arg name="use_lcd" value="true" />
    <arg name="visualize" value="true" />
    <arg name="use_online_cam_params" value="false" />
    <arg name="online" value="true" />
    <!-- Frame IDs -->
    <arg name="base_link_frame_id" value="kimera$(arg robot_id)_base_link"/>
    <arg name="left_cam_frame_id"  value="kimera$(arg robot_id)_left_cam"/>
    <arg name="right_cam_frame_id" value="kimera$(arg robot_id)_right_cam"/>
    <!-- Subscribed Topics -->
    <arg name="left_cam_topic"        value="/kimera$(arg robot_id)/cam0/image_raw"/>
    <arg name="right_cam_topic"       value="/kimera$(arg robot_id)/cam1/image_raw"/>
    <arg name="imu_topic"             value="/kimera$(arg robot_id)/imu0"/>
    <arg name="gt_topic"              value="/ground_truth/kimera$(arg robot_id)/pose" />

    <arg name="run_stereo_dense"     value="true" if="$(eval dataset_name == 'Euroc' and mesh_reconstruction)"/>
    <arg name="run_stereo_dense"     value="false" unless="$(eval dataset_name == 'Euroc' and mesh_reconstruction)"/>

    <!-- Launch Kimera-VIO -->
    <include file="$(find kimera_distributed)/launch/kimera_vio_ros.launch" pass_all_args="true" />

    <!-- Launch Kimera-Distributed -->
    <include file="$(find kimera_distributed)/launch/kimera_distributed_loop_closure_ros.launch" pass_all_args="true" />

  </group>

  <group ns="kimera2">
    <arg name="robot_id" value="2" />
    <arg name="use_lcd" value="true" />
    <arg name="visualize" value="true" />
    <arg name="use_online_cam_params" value="false" />
    <arg name="online" value="true" />
    <!-- Frame IDs -->
    <arg name="base_link_frame_id" value="kimera$(arg robot_id)_base_link"/>
    <arg name="left_cam_frame_id"  value="kimera$(arg robot_id)_left_cam"/>
    <arg name="right_cam_frame_id" value="kimera$(arg robot_id)_right_cam"/>
    <!-- Subscribed Topics -->
    <arg name="left_cam_topic"        value="/kimera$(arg robot_id)/cam0/image_raw"/>
    <arg name="right_cam_topic"       value="/kimera$(arg robot_id)/cam1/image_raw"/>
    <arg name="imu_topic"             value="/kimera$(arg robot_id)/imu0"/>
    <arg name="gt_topic"              value="/ground_truth/kimera$(arg robot_id)/pose" />

    <arg name="run_stereo_dense"     value="true" if="$(eval dataset_name == 'Euroc' and mesh_reconstruction)"/>
    <arg name="run_stereo_dense"     value="false" unless="$(eval dataset_name == 'Euroc' and mesh_reconstruction)"/>

    <!-- Launch Kimera-VIO -->
    <include file="$(find kimera_distributed)/launch/kimera_vio_ros.launch" pass_all_args="true" />

    <!-- Launch Kimera-Distributed -->
    <include file="$(find kimera_distributed)/launch/kimera_distributed_loop_closure_ros.launch" pass_all_args="true" />

  </group>

  <!-- Launch Basestation -->
  <node name="kimera_centralized_node" pkg="kimera_distributed" 
    type="kimera_centralized_node" output="screen" ns="kimera_centralized">
    <param name="num_robots" value="$(arg num_robots)" />
    <rosparam file="$(find kimera_distributed)/params/centralized.yaml"/>
    <param name="log_output_path" type="str" value="$(find kimera_distributed)/logs/basestation/"/>
  </node> 

  <!-- Pose Graph Visualizer -->
  <include file="$(find pose_graph_tools)/launch/posegraph_view.launch" >
    <arg name="frame_id"      value="world" />
    <arg name="graph_topic"   value="pose_graph_optimized" />
    <arg name="ns"            value="kimera_centralized"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find kimera_distributed)/rviz/kimera_centralized.rviz"></node>

</launch>