<launch>
  <!-- Total number of robots -->
  <arg name="num_robots" default="1"/>
  <!-- Unique integer id of this robot. -->
  <arg name="robot_id" default="0"/>
  <arg name="robot_name" default="kimera"/>
  <arg name="frame_id" default="map"/>
  <!-- Dataset -->
  <arg name="dataset_name" default="warty"/>
  <arg name="vlc_batch_size" default="10"/>
  <!-- Debug -->
  <arg name="debug"              default="false" />
  <arg name="launch_prefix"      value="xterm -e gdb -ex run \-\-args" if="$(arg debug)"/>
  <arg name="launch_prefix"      value=""    unless="$(arg debug)"/>
  <!-- Run offline -->
  <arg name="run_offline"          default="false" />
  <!-- Submap setup -->
  <arg name="max_submap_size"      default="100" />
  <arg name="max_submap_distance"  default="0.5" />
  <arg name="robot_names_config"   default="robot_names"/>

  <!-- Launch Kimera Distributed Loop Closure Node -->
  <node launch-prefix="$(arg launch_prefix)" name="distributed_loop_closure_node" pkg="kimera_distributed" type="kimera_distributed_loop_closure_node" output="screen" ns="distributed_loop_closure">
    <param name="robot_id"            value="$(arg robot_id)"/>
    <param name="num_robots"          value="$(arg num_robots)" />
    <param name="frame_id"            value="$(arg frame_id)" />
    <param name="vocabulary_path"     value="$(find kimera_vio)/vocabulary/ORBvoc.yml"/>
    <param name="log_output_path"     value="$(find kimera_distributed)/logs/kimera$(arg robot_id)/"/>
    <param name="vlc_batch_size"      value="$(arg vlc_batch_size)"/>
    <param name="run_offline"         value="$(arg run_offline)" />
    <param name="max_submap_size"     value="$(arg max_submap_size)"/>
    <param name="max_submap_distance" value="$(arg max_submap_distance)"/>
    <rosparam file="$(find kimera_distributed)/params/visual_loopclosure_$(arg dataset_name).yaml"/>
    <rosparam file="$(find kimera_distributed)/params/$(arg robot_names_config).yaml" />
  </node>

  <include file="$(find pose_graph_tools)/launch/posegraph_view.launch" >
    <arg name="frame_id"      value="$(arg robot_name)/map" />
    <arg name="graph_topic"   value="pose_graph_incremental" />
    <arg name="ns"            value="kimera_distributed"/>
  </include>

</launch>
