<launch>
  <!-- Unique integer id of this robot. -->
  <arg name="robot_id" default="0"/>
  
  <arg name="dataset_name" default="Euroc"/>
  <arg name="robot_id"     default="0" /> 
  <arg name="verbosity"    default="0" />
  <arg name="do_coarse_temporal_sync" default="false"/>
  <arg name="do_fine_temporal_sync" default="false"/>

  <!-- Set online to true if you use rosbag play or sensor stream -->
  <arg name="online" default="true" />
  <!-- Set use_sim_time to true if you use rosbag with clock argument -->
  <param name="use_sim_time" value="true"/>

  <arg name="use_lcd"   default="true"/>
  <arg name="visualize" default="true"/>
  <arg name="log_imu_data" value="true"/>
  <arg name="use_external_odom" default="false"/>

  <arg name="use_online_cam_params" value="false"/>

  <!-- Change rosbag path if online argument is false -->
  <arg name="rosbag_path" default=""
    unless="$(arg online)"/>

  <!-- Frame IDs -->
  <arg name="base_link_frame_id" value="base_link"/>
  <arg name="left_cam_frame_id"  value="cam0"/>
  <arg name="right_cam_frame_id" value="cam1"/>

  <!-- Subscribed Topics -->
  <arg name="left_cam_topic"                    default="/cam0/image_raw"/>
  <arg name="left_cam_info_topic"               default="/cam0/camera_info"/>
  <arg name="right_cam_topic"                   default="/cam1/image_raw"/>
  <arg name="right_cam_info_topic"              default="/cam1/camera_info"/>
  <arg name="imu_topic"                         default="/imu0"/>
  <!-- Empty string ("") means no ground-truth available. Used for init if
   requested to do ground-truth initialization. -->
  <arg name="odometry_ground_truth_topic"       default="$(arg gt_topic)"/>
  <arg name="external_odom_topic"               default="/kimera$(arg robot_id)/external_odom"/>

  <!-- If true, SparkVio will log output of all modules to the
       'log_output_path' location. -->
  <arg name="log_output" default="true"/>
  <arg name="log_output_path"
       default="$(find kimera_distributed)/logs/kimera$(arg robot_id)/"/>
  <!-- If true, log ground-truth poses to a csv file using the
       gt_logger_node, and processing data from the gt_topic rostopic -->
  <arg name="log_gt_data" default="true"/>
  <arg name="gt_topic" default="ground_truth_odometry_topic"/>
  
  <!-- Launch actual pipeline -->
  <include file="$(find kimera_vio_ros)/launch/kimera_vio_ros.launch" pass_all_args="true"/>

  <!-- Perform stereo dense reconstruction? -->
  <arg name="run_stereo_dense"     default="true"/>
  <group ns="stereo_gray" if="$(arg run_stereo_dense)">
    <!-- StereoSGBM -->
    <node name="dense_stereo" pkg="image_undistort" type="dense_stereo_node" >
      <param name="input_camera_info_from_ros_params" value="true"/>
      <param name="first_camera_namespace"  value="cam0"/>
      <param name="second_camera_namespace" value="cam1"/>
      <param name="first_output_frame"      value="cam0"/>
      <param name="second_output_frame"     value="cam1"/>

      <param name="depth/use_sgbm"          value="true"/>
      <param name="depth/do_median_blur"    value="false"/>
      <param name="depth/use_mode_HH"       value="true"/>

      <param name="scale"                   value="1.0"/>
      <param name="process_every_nth_frame" value="1"/>
      <param name="publish_tf"              value="false"/>

      <rosparam file="$(find kimera_vio_ros)/cfg/calib/euroc_camchain.yaml"/>

      <remap from="raw/first/image"         to="$(arg left_cam_topic)"/>
      <remap from="raw/second/image"        to="$(arg right_cam_topic)"/>
    </node>
  </group>

</launch>
