<launch>
  <arg name="dataset_name" default="Euroc" />
  <arg name="verbosity" default="0" />
  <arg name="num_robots" default="3" />
  
  <group ns="kimera0">
    <!-- Launch Kimera-VIO -->
    <include file="$(find kimera_distributed)/launch/kimera_vio_ros.launch" >
      <arg name="robot_id" value="0" />
      <arg name="use_lcd" default="true" />
      <arg name="visualize" default="true" />
      <arg name="use_online_cam_params" value="false" />
      <arg name="online" default="true" />
      <!-- Frame IDs -->
      <arg name="base_link_frame_id" value="kimera0_base_link"/>
      <arg name="left_cam_frame_id"  value="kimera0_left_cam"/>
      <arg name="right_cam_frame_id" value="kimera0_right_cam"/>
      <!-- Subscribed Topics -->
      <arg name="left_cam_topic"        default="/kimera0/cam0/image_raw"/>
      <arg name="right_cam_topic"       default="/kimera0/cam1/image_raw"/>
      <arg name="imu_topic"             default="/kimera0/imu0"/>
      <arg name="gt_topic"              default="/ground_truth/kimera0/pose" />
    </include>

    <!-- Launch Kimera-Distributed -->
    <include file="$(find kimera_distributed)/launch/kimera_distributed_loop_closure_ros.launch">
      <arg name="robot_id" value="0" />
      <arg name="num_robots" value="$(arg num_robots)" />
      <arg name="dataset_name" value="$(arg dataset_name)" />
    </include>
  </group>

  <group ns="kimera1">
    <!-- Launch Kimera-VIO -->
    <include file="$(find kimera_distributed)/launch/kimera_vio_ros.launch" >
      <arg name="robot_id" value="1" />
      <arg name="use_lcd" default="true" />
      <arg name="visualize" default="true" />
      <arg name="use_online_cam_params" value="false" />
      <arg name="online" default="true" />
      <!-- Frame IDs -->
      <arg name="base_link_frame_id" value="kimera1_base_link"/>
      <arg name="left_cam_frame_id"  value="kimera1_left_cam"/>
      <arg name="right_cam_frame_id" value="kimera1_right_cam"/>
      <!-- Subscribed Topics -->
      <arg name="left_cam_topic"        default="/kimera1/cam0/image_raw"/>
      <arg name="right_cam_topic"       default="/kimera1/cam1/image_raw"/>
      <arg name="imu_topic"             default="/kimera1/imu0"/>
      <arg name="gt_topic"              default="/ground_truth/kimera1/pose" />
    </include>

    <include file="$(find kimera_distributed)/launch/kimera_distributed_loop_closure_ros.launch">
      <arg name="robot_id" value="1" />
      <arg name="num_robots" value="$(arg num_robots)" />
      <arg name="dataset_name" value="$(arg dataset_name)" />
    </include>
  </group>

  <group ns="kimera2">
    <!-- Launch Kimera-VIO -->
    <include file="$(find kimera_distributed)/launch/kimera_vio_ros.launch" >
      <arg name="robot_id" value="2" />
      <arg name="use_lcd" default="true" />
      <arg name="visualize" default="true" />
      <arg name="use_online_cam_params" value="false" />
      <arg name="online" default="true" />
      <!-- Frame IDs -->
      <arg name="base_link_frame_id" value="kimera2_base_link"/>
      <arg name="left_cam_frame_id"  value="kimera2_left_cam"/>
      <arg name="right_cam_frame_id" value="kimera2_right_cam"/>
      <!-- Subscribed Topics -->
      <arg name="left_cam_topic"        default="/kimera2/cam0/image_raw"/>
      <arg name="right_cam_topic"       default="/kimera2/cam1/image_raw"/>
      <arg name="imu_topic"             default="/kimera2/imu0"/>
      <arg name="gt_topic"              default="/ground_truth/kimera2/pose" />
    </include>

    <!-- Launch Kimera-Distributed -->
    <include file="$(find kimera_distributed)/launch/kimera_distributed_loop_closure_ros.launch">
      <arg name="robot_id" value="2" />
      <arg name="num_robots" value="$(arg num_robots)" />
      <arg name="dataset_name" value="$(arg dataset_name)" />
    </include>

  </group>

  <!-- Launch Basestation -->
  <node name="kimera_centralized_node" pkg="kimera_distributed" 
    type="kimera_centralized_node" output="screen" ns="kimera_centralized">
    <param name="num_robots" value="$(arg num_robots)" />
    <rosparam file="$(find kimera_distributed)/params/centralized.yaml"/>
    <param name="log_output_path" type="str" value="$(find kimera_distributed)/logs/basestation/"/>
  </node> 

  <!-- Pose Graph Visualizer -->
  <include file="$(find pose_graph_tools)/launch/posegraph_view.launch" >
    <arg name="frame_id"      value="world" />
    <arg name="graph_topic"   value="pose_graph_optimized" />
    <arg name="ns"            value="kimera_centralized"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find kimera_distributed)/rviz/kimera_centralized.rviz"></node>

</launch>