<launch>
  <arg name="dataset_name" default="warty"/>
  <arg name="num_robots" default="3"/>
  <arg name="log_gt_data" default="true"/>
  <arg name="mesh_reconstruction" default="false" />
  <arg name="semantic_mesh" default="false" />
  <arg name="environment" default="camp" />

  <!-- Set use_sim_time to true if you use rosbag with clock argument -->
  <!-- Yulun: safe to use system wall-clock time for multi-robot experiment? -->
  <param name="use_sim_time" value="false"/>

  <include file="$(find kimera_distributed)/launch/kimera_full_stack.launch" pass_all_args="true">
      <arg name="robot_id" value="0" />
  </include>

  <include file="$(find kimera_distributed)/launch/kimera_full_stack.launch" pass_all_args="true">
      <arg name="robot_id" value="1" />
  </include>

  <include file="$(find kimera_distributed)/launch/kimera_full_stack.launch" pass_all_args="true">
      <arg name="robot_id" value="2" />
  </include>

  <!-- DPGO visualization in rviz -->
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find kimera_distributed)/rviz/kimera_three_robot_$(arg dataset_name).rviz"></node>

</launch>
