<launch>
  <!-- Total number of robots -->
  <arg name="num_robots" default="1"/>
  <!-- Unique integer id of this robot. -->
  <arg name="robot_id" default="0"/>
  <!-- Dataset -->
  <arg name="dataset_name" default="warty"/>
  <!-- Use service or actionlib for communication -->
  <arg name="use_actionlib" default="false"/>
  <!-- Multirobot frame alignmnet  -->
  <arg name="multirobot_initialization" default="false"/>


  <!-- Launch Kimera Distributed Loop Closure Node -->
  <node name="distributed_loop_closure_node" pkg="kimera_distributed" type="kimera_distributed_loop_closure_node" output="screen" ns="distributed_loop_closure">
    <param name="robot_id"   value="$(arg robot_id)"/>
    <param name="num_robots" value="$(arg num_robots)" />
    <param name="use_actionlib" value="$(arg use_actionlib)" />
    <rosparam file="$(find kimera_distributed)/params/visual_loopclosure_$(arg dataset_name).yaml"/>
    <param name="vocabulary_path" value="$(find kimera_vio)/vocabulary/ORBvoc.yml"/>
    <param name="log_output_path" type="str" value="$(find kimera_distributed)/logs/kimera$(arg robot_id)/"/>
  </node>    

  <!-- Launch Kimera Distributed PCM Node -->
  <node name="distributed_pcm_node" pkg="kimera_distributed" type="kimera_distributed_pcm_node" output="screen" ns="distributed_pcm">
    <param name="robot_id"   value="$(arg robot_id)"/>
    <param name="num_robots" value="$(arg num_robots)" />
    <param name="multirobot_initialization" value="$(arg multirobot_initialization)" />
    <param name="use_actionlib" value="$(arg use_actionlib)" />
    <rosparam file="$(find kimera_distributed)/params/pcm_$(arg dataset_name).yaml"/>
    <param name="log_output_path" type="str" value="$(find kimera_distributed)/logs/kimera$(arg robot_id)/"/>
  </node>
</launch>
