<launch>
  <!-- Set use_sim_time to true if you use rosbag with clock argument -->
  <!-- Yulun: safe to use system wall-clock time for multi-robot experiment? -->
  <param name="use_sim_time" value="false"/>
  <arg name="num_robots" default="2"/>

  <include file="$(find kimera_distributed)/launch/kimera_full_stack_euroc.launch">
      <arg name="robot_id" value="0" />
      <arg name="num_robots" value="$(arg num_robots)" />
  </include>

  <include file="$(find kimera_distributed)/launch/kimera_full_stack_euroc.launch">
      <arg name="robot_id" value="1" />
      <arg name="num_robots" value="$(arg num_robots)" />
  </include>

</launch>
