<launch>
  <arg name="robot_name"              default="sobek" />
  <arg name="dataset_name"            default="Euroc" />
  <arg name="verbosity"               default="0" />
  <arg name="robot_id"                default="0" />
  <arg name="num_robots"              default="1" />
  <arg name="should_use_sim_time"     default="false"/>
  <arg name="debug"                   default="false"/>
  <arg name="robot_names_config"      default="robot_names"/>
  <arg name="vocab_path"              default="$(find kimera_multi_lcd)/vocab/mit_voc.yml"/>
  <arg name="monitor_bw"              default="false"/>
  <arg name="monitor_latency"         default="false"/>
  <arg name="logging"                 default="true"/>
  <arg name="log_directory"           default="$(find kimera_distributed)/logs/kimera$(arg robot_id)" />

  <!-- BoW vector publishing for Kimera-Multi -->
  <arg name="bow_skip_num"            default="2" />

  <!-- Loop Closure alpha -->
  <arg name="alpha"                   default="0.5"/>
  <!-- Loop closure sync settings -->
  <arg name="loop_batch_size"         default="50" />
  <arg name="loop_sync_sleep_time"    default="10" />

  <!-- Submap settings -->
  <arg name="max_submap_distance"     default="2" />
  <arg name="max_submap_size"         default="100" />

  <!-- Offline mode -->
  <arg name="run_offline"             default="false"/>
  <arg name="offline_dir"             default=""/>

  <!-- Set log_output to true and SparkVio will log output of all modules to
       the log_output_path location. -->
  <arg name="log_output" default="true" />
  <arg name="log_output_path" default="$(find kimera_distributed)/logs/kimera$(arg robot_id)/" />

  <!-- Launch robot in its unique namespace -->
  <group ns="$(arg robot_name)">
    <!-- Launch distributed loop closure detection and PCM -->
    <include file="$(find kimera_distributed)/launch/kimera_distributed_loop_closure_ros.launch">
      <arg name="robot_id"                  value="$(arg robot_id)" />
      <arg name="robot_name"                value="$(arg robot_name)" />
      <arg name="frame_id"                  value="$(arg robot_name)/map"/>
      <arg name="num_robots"                value="$(arg num_robots)" />
      <arg name="dataset_name"              value="$(arg dataset_name)" />
      <arg name="debug"                     value="$(arg debug)" />
      <arg name="run_offline"               value="$(arg run_offline)" />
      <arg name="offline_dir"               value="$(arg offline_dir)" />
      <arg name="bow_skip_num"              value="$(arg bow_skip_num)" />
      <arg name="alpha"                     value="$(arg alpha)" />
      <arg name="bow_batch_size"            value="50" />
      <arg name="vlc_batch_size"            value="10" />
      <arg name="loop_batch_size"           value="$(arg loop_batch_size)" />
      <arg name="loop_sync_sleep_time"      value="$(arg loop_sync_sleep_time)" />
      <arg name="comm_sleep_time"           value="5"  />
      <arg name="detection_batch_size"      value="50" />
      <arg name="max_submap_size"           value="$(arg max_submap_size)" />
      <arg name="max_submap_distance"       value="$(arg max_submap_distance)" />
      <arg name="robot_names_config"        value="$(arg robot_names_config)"/>
      <arg name="vocab_path"                value="$(arg vocab_path)"/>
      <arg name="log_output_path"           value="$(arg log_output_path)/"/>
    </include>

    <node if="$(arg monitor_bw)" pkg="panoptes" type="ros_bw_monitor.py" name="bw_motinor">
      <rosparam param="input_topics" file="$(find kimera_distributed)/params/rtm_input_topics_robot.yaml"/>
      <rosparam file="$(find kimera_distributed)/params/$(arg robot_names_config).yaml"/>
      <param name="num_robots" value="$(arg num_robots)"/>
      <param name="log" value="true"/>
      <param name="log_dir" value="$(arg log_output_path)/" />
    </node>

    <node if="$(arg monitor_latency)" pkg="panoptes" type="latency_monitor.py" name="latency_monitor" output="screen">
      <param name="log_dir" value="$(arg log_directory)/"/>
      <param name="robot_id" value="$(arg robot_id)"/>
      <param name="num_robots" value="$(arg num_robots)"/>
      <rosparam file="$(find kimera_distributed)/params/$(arg robot_names_config).yaml"/>
    </node>

  </group>

</launch>
