<launch>
	<node pkg="rosbag" type="play" name="player0" output="screen" args="-r 0.2 /home/yunchang/Downloads/medfield-sim-red.bag">
		<remap from="/acl_jackal/camera/image" to="/kimera0/cam0/image_raw"/>
		<remap from="/acl_jackal/right_camera/image" to="/kimera0/cam1/image_raw"/>
		<remap from="/acl_jackal/camera/camera_info" to="/kimera0/cam0/camera_info"/>
		<remap from="/acl_jackal/right_camera/camera_info" to="/kimera0/cam1/camera_info"/>
		<remap from="/acl_jackal/imu/data" to="/kimera0/imu0"/>
		<remap from="/acl_jackal/depth_camera/image" to="/kimera0/depth/image_raw" />
		<remap from="/acl_jackal/depth_camera/camera_info" to="/kimera0/depth/camera_info" />
		<remap from="/acl_jackal/camera/semantic_image" to="/kimera0/cam0/semantic_image" />
		<remap from="/acl_jackal/lidar_points" to="/kimera0/lidar_points"/>
		<remap from="/acl_jackal/warthog_velocity_controller/odom" to="/kimera0/external_odom" />
		<remap from="/unity_command/ground_truth/acl_jackal/odom" to="/ground_truth/kimera0/pose"/>
	</node>  

	<node pkg="rosbag" type="play" name="playe1" output="screen" args="-r 0.2 /home/yunchang/Downloads/medfield-sim-orange.bag">
		<remap from="/acl_jackal/camera/image" to="/kimera1/cam0/image_raw"/>
		<remap from="/acl_jackal/right_camera/image" to="/kimera1/cam1/image_raw"/>
		<remap from="/acl_jackal/camera/camera_info" to="/kimera1/cam0/camera_info"/>
		<remap from="/acl_jackal/right_camera/camera_info" to="/kimera1/cam1/camera_info"/>
		<remap from="/acl_jackal/imu/data" to="/kimera1/imu0"/>
		<remap from="/acl_jackal/depth_camera/image" to="/kimera1/depth/image_raw" />
		<remap from="/acl_jackal/depth_camera/camera_info" to="/kimera1/depth/camera_info" />
		<remap from="/acl_jackal/camera/semantic_image" to="/kimera1/cam0/semantic_image" />
		<remap from="/acl_jackal/lidar_points" to="/kimera1/lidar_points"/>
		<remap from="/acl_jackal/warthog_velocity_controller/odom" to="/kimera1/external_odom" />
		<remap from="/unity_command/ground_truth/acl_jackal/odom" to="/ground_truth/kimera1/pose"/>
	</node>  

	<node pkg="rosbag" type="play" name="player2" output="screen" args="-r 0.2 /home/yunchang/Downloads/medfield-sim-blue.bag">
		<remap from="/acl_jackal/camera/image" to="/kimera2/cam0/image_raw"/>
		<remap from="/acl_jackal/right_camera/image" to="/kimera2/cam1/image_raw"/>
		<remap from="/acl_jackal/camera/camera_info" to="/kimera2/cam0/camera_info"/>
		<remap from="/acl_jackal/right_camera/camera_info" to="/kimera2/cam1/camera_info"/>
		<remap from="/acl_jackal/imu/data" to="/kimera2/imu0"/>
		<remap from="/acl_jackal/depth_camera/image" to="/kimera2/depth/image_raw" />
		<remap from="/acl_jackal/depth_camera/camera_info" to="/kimera2/depth/camera_info" />
		<remap from="/acl_jackal/camera/semantic_image" to="/kimera2/cam0/semantic_image" />
		<remap from="/acl_jackal/lidar_points" to="/kimera2/lidar_points"/>
		<remap from="/acl_jackal/warthog_velocity_controller/odom" to="/kimera2/external_odom" />
		<remap from="/unity_command/ground_truth/acl_jackal/odom" to="/ground_truth/kimera2/pose"/>
	</node>  
</launch>