<launch>
  <arg name="robot_id" default="0"/>
  <arg name="robot_name" default="acl_jackal"/>
  <arg name="num_robots" default="1" />
  <!-- Port that reliable UDP runs on. Default (-1) uses arbitrary port number. -->
  <arg name="enet_port"  default="-1" /> 
  <arg name="service_discovery" default="true"/>
  <arg name="simulation" default="false"/>
  <arg name="logging"    default="true"/>
  <arg name="log_directory" default="$(find kimera_distributed)/logs/kimera$(arg robot_id)" />
  <arg name="robot_names_config" default="robot_names"/>
  <!-- Uncomment below to enable debug printing -->
  <!-- <env name="ROSCONSOLE_CONFIG_FILE" value="$(find reliable_udp_comms)/launch/rosconsole.conf"/> -->

  <!-- Launch robot in its unique namespace -->
  <group ns="$(arg robot_name)">
    <node if="$(arg service_discovery)" pkg="reliable_udp_comms" type="remote_host_discovery.py" name="remote_host_discovery" output="screen">
      <param name="group_name" value="TESTING"/>
    </node>

    <node pkg="reliable_udp_comms" type="remote_topic_manager" name="rtp" output="screen" launch-prefix="">
      <param name="simulation"               value="$(arg simulation)"/>
      <param name="enet_port"                value="$(arg enet_port)"/>
      <param name="latch"                    value="false"/>
      <param name="status_pub_period"        value="1.0"/>
      <param name="queue_size"               value="10"/>
      <param name="logging"                  value="$(arg logging)" />
      <param name="log_directory"            value="$(arg log_directory)" />

      <!-- Load topics to be transmited to other robots -->
      <rosparam param="input_topics" file="$(find kimera_distributed)/params/rtm_input_topics_robot.yaml" subst_value="true" />

      <!-- Load persistent hosts -->
      <rosparam param="input_persistent_hosts" file="$(find kimera_distributed)/params/persistent_hosts.yaml" />

    </node>

  </group>
</launch>
