<launch>

	<node pkg="rosbag" type="play" name="player0" output="screen" args="/home/acl0/Datasets/EuRoc/V1_01_easy.bag">
		<remap from="/cam0/image_raw" to="/kimera0/cam0/image_raw"/>
		<remap from="/cam1/image_raw" to="/kimera0/cam1/image_raw"/>
		<remap from="/cam0/camera_info" to="/kimera0/cam0/camera_info"/>
		<remap from="/cam1/camera_info" to="/kimera0/cam1/camera_info"/>
		<remap from="/imu0" to="/kimera0/imu0"/>
	</node>   

</launch>