<?xml version="1.0" encoding="ISO-8859-15"?>
<launch>
  <arg name="voxel_size"     default="0.05"/>
  <arg name="max_ray_length_m" default="40"/>
  <arg name="use_sim_time"     default="false"/>
  <param name="use_sim_time"   value="$(arg use_sim_time)" />
  <arg name="semantic_labels_path" default="$(find kimera_distributed)/params/dcist_camp_semantic_mapping.csv" />
  <arg name="bag_file" default="$(find kimera_semantics_ros)/rosbags/kimera_semantics_demo.bag"/>
  <arg name="play_bag" default="false"/>
  <arg name="sensor_frame" default="acl_jackal/camera_optical_frame" />

  <arg name="rosbag_rate" default="0.2"/>
  <node name="play_back" pkg="rosbag" type="play"
    args="--rate $(arg rosbag_rate) $(arg bag_file)" >
    <remap from="/acl_jackal/tf" to="/tf" />
    <remap from="/acl_jackal/tf_static" to="/tf_static" />
  </node>

  <node pkg="tf2_ros"
    type="static_transform_publisher"
    name="gt_to_robot"
    args="0 0 0 0 0 0 1 ground_truth/acl_jackal/base acl_jackal/base"/>

  <node pkg="tf2_ros"
    type="static_transform_publisher"
    name="robot_to_cam"
    args="0 0 0 0 0 0 1 acl_jackal/camera acl_jackal/camera_optical_frame"/>

  <node pkg="tf2_ros"
    type="static_transform_publisher"
    name="cam_to_depth"
    args="0 0 0 0 0 0 1 acl_jackal/camera acl_jackal/depth_camera_optical_frame"/>

  <!-- Run 3D reconstruction without semantics, set this flag to false-->
  <arg name="metric_semantic_reconstruction" default="true"/>

  <!-- Input -->
  <arg name="semantic_pointcloud"         default="/semantic_pointcloud"/>
  <arg name="left_cam_info_topic"         default="/acl_jackal/camera/camera_info"/>
  <arg name="right_cam_info_topic"        default="/acl_jackal/right_camera/camera_info"/>
  <arg name="left_cam_topic"              default="/acl_jackal/camera/image"/>
  <arg name="right_cam_topic"             default="/acl_jackal/right_camera/image"/>
  <arg name="left_cam_segmentation_topic" default="/acl_jackal/camera/semantic_image"/>
  <arg name="left_cam_depth_topic"        default="/acl_jackal/depth_camera/image"/>
  <arg name="use_freespace_pointcloud"    default="false" />
  <arg name="freespace_pointcloud"        default="/dev/null"/>

  <!-- Launch Kimera-Semantics -->
   <include file="$(find kimera_semantics_ros)/launch/kimera_semantics.launch" pass_all_args="true" >
     <arg name="should_use_sim_time"                 default="$(arg use_sim_time)" />
     <arg name="publish_point_clouds"                default="true" />
     <arg name="voxel_size"                          default="0.2" />
     <arg name="max_ray_length_m"                    default="40" />
     <arg name="semantic_label_2_color_csv_filepath" default="$(arg semantic_labels_path)" />
   </include>
</launch>
